<div>
  <div class="card mb-3 p-1 border border-warning" >
      <!-- Burada da bir for döngüsü kullanmış olduk ve bu sayede tekrar tekrar yazmayız. -->
      <div class="row">
          <div class="col-lg-3 col-sm-4">
              <img src="assets/images/2.jpeg" alt="" class="img-fluid rounded-start w-75">
          </div>
          <!-- Buradaki çift süslü parantez ile product-list-components.ts'in içindeki product'a ulaşırız. -->
          <div class="col-lg-7 col-8">
              <div class="card-body">
                  <h4 class="card-title">İphone 12</h4>
              </div>
              <div class="col-10 card-body">
                  <p class="card-text">iyi</p>
              </div>
              <div class="card-body">
                  <a href="" class="btn btn-primary">Ürün Ayrıntıları</a>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #noProducts>
  <div class="alert alert-warning">
      No Products
  </div>
</ng-template>

<div *ngIf="" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
