<div *ngIf="!loading">
  <div *ngIf="products.length > 0 else noProducts">
    <ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{productsas: products}"></ng-template>
  </div>
</div>

<ng-template #noProducts>
  <div class="alert alert-warning">
    No Products
  </div>
</ng-template>

<ng-template #productList let-products="productsas">
  <div *ngFor="let product of products">
    <div *ngIf="product.isActive" class="card mb-3 p-1">
      <!-- Burada da bir for döngüsü kullanmış olduk ve bu sayede tekrar tekrar yazmayız. -->
      <div class="row">
        <div class="col-3">
          <img src="assets/images/{{ product.imageUrl }}" alt="" class="img-fluid rounded-start w-75">
        </div>
        <!-- Buradaki çift süslü parantez ile product-list-components.ts'in içindeki product'a ulaşırız. -->
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title"> {{ product.name }} </h5>
            <p>{{ product.description }}</p>
            <a routerLink="/products/{{ product.id }}" class="btn btn-primary"> Ürün Detay </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<div *ngIf="loading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
